export(dGGEE)
export(dGGEE_COP)
export(C2GGEE_COP)
export(dUEV_GGEE_COP)
export(fitCopulaOne)
export(jdGGEE)
export(jpGGEE)
export(pGGEE)
export(pGGEE_COP)
export(pUEV_GGEE_COP)
export(plotCopulaOne)
export(qGGEE)
export(rGGEE_COP)
export(sprGGEE_COP)
export(tauGGEE_COP)
export(uscore)
export(dPPPP_COP)
export(C2PPPP_COP)
export(jdPPPP)
export(jpPPPP)
export(pPPPP)
export(qPPPP)
export(rPPPP_COP)
export(pPPPP_COP)
export(pPPPP_COP_1)
export(dPPPP_COP_1)
export(sprPPPP_COP)
export(tauPPPP_COP)
export(tauPPPP_COP_90)
export(pPPPP_COP_1_90)
export(dPPPP_COP_1_90)
export(dUEV_PPPP_COP)
export(pUEV_PPPP_COP)
